@import "../../App.scss";

.services_container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: rgb(230, 230, 230);
    span {
        color: $__main_color;
    }
    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4%;
        .intro {
            max-width: 900px;
            h1 {
                margin-bottom: 1rem;
            }
        }
        a {
            padding: .5rem 1rem;
            border: none;
            border-radius: 5px;
            font-size: 1.2em;
            text-transform: capitalize;
            background-color: $__main_color;
            color: $__container_color;
            height: fit-content;
            &:hover {
                background: $__second_color;
            }
        }
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        .product {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-inline: 4%;
            h1 {
                text-align: center;
                text-transform: uppercase;
                margin: 2rem 0;
            }
            .box {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
                .card {
                    width: 300px;
                    margin: auto;
                    margin: 0;
                    height: fit-content;
                    .image {
                        overflow: hidden;
                        border-radius: 10px;
                    }
                    img {
                        width: 300px;
                        height: 200px;
                        object-fit: cover;
                        transition: all .3s;
                    }
                    .title2 {
                        text-align: center;
                        background: $__main_color;
                        color: $__container_color;
                        width: 80%;
                        margin: auto;
                        position: relative;
                        bottom: 2rem;
                        padding: 1rem;
                        border-radius: 10px;
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                            transition: all .3s;
                        }
                    }
                }
            }
        }

        .product2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            background: white;
            padding: 1rem 4%;
            gap: 1rem;
            .box {
                margin: 2rem auto;
                width: 100%;
                display: flex;
                flex-direction: column;
    
                h1 {
                    margin: 2rem 0 1rem 0;
                }
                hr {
                    width: 10rem;
                    height: 10px;
                    margin-bottom: 2rem;
                    background: $__main_color;
                    border: none;
                }
                .card {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;
                    .image {
                        width: 49%;
                        overflow: hidden;
                        border-radius: 10px;
                        img {
                            width: 100%;
                        }
                    }
                    .desc {
                        width: 49%;
                        h3 {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }

        }
        .product3 {
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
            //flex-wrap: wrap;
           // height: 500px;
            padding: 2rem 8%;
            background: linear-gradient(rgba(0, 18, 24, 0.9), rgba(0, 18, 24, 0.9)), url("../../assets/materiel.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            * {
                color: $__container_color;
            }
            .left {
                width: 100%;
                min-width: 300px;
                max-width: 500px;
                //aspect-ratio: 1/2;
                border-radius: 50%;
                border: 10px solid white;
                img {
                    width: 100%;
                    height: inherit;
                    object-fit: cover;
                    border-radius: 50%;
                    aspect-ratio: 3/3;
                }
            }
            .right {
                max-width: 600px;
                h2 {
                    margin-bottom: 2rem;
                }
                .first {
                    margin: 1rem 0;
                    display: flex;
                    gap: 2rem;
                    margin-left: 1rem;
                    li {
                        list-style: disc;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
                ul {
                    margin-left: 1rem;
                    li {
                        list-style: disc;
                        padding: .2rem 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 999px) {
    .services_container {
        .bottom {
            .product2 {
                .box {
                    .card {
                        display: flex;
                        flex-direction: column;
                        .image {
                            width: 100%;
                            height: 10rem;
                            img {
                                width: inherit;
                                height: inherit;
                                object-fit: cover;
                            }
                        }
                        .desc {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 740px) {
    .services_container {
        .bottom {
            .product3 {
                flex-direction: column;
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .services_container {
        .top {
            flex-direction: column;
            gap: 1rem;
            a {
                float: left;
            }
        }
        .bottom {
            .product2 {
                flex-direction: column;
            }
        }
    }
}