@import "../../App.scss";

.navbar_container {
    display: block;
    position: sticky;
    top: 0.1px;
    background: $__body_color;
    z-index: 1;
    padding: 1rem 4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            width: 150px;
            a {
                width: inherit;
            }
            img {
                width: inherit;
            }
        }
        margin-bottom: 1rem;
        .right {
            a {
                padding: .5rem 1rem;
                border-radius: 5px;
                border: none;
                font-size: 1em;
                text-transform: uppercase;
                color: $__container_color;
                background-color: $__second_color;
                &:hover {
                    background: $__main_color;
                }
            }
        }
        .menu-icon {
            display: none;
        }
    }

    .bottom {
       ul {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: auto;
        a {
            text-transform: uppercase;
            color: $__text_default_color;
            &:hover {
                color: $__main_color;
            }
        }
       }
    }
}

@media screen and (max-width: 545px) {
    .navbar_container {
        .top {
            .menu-icon {
                display: block;
                background-color: $__main_color;
                border-radius: 5px;
                * {
                    font-size: 2.5em;
                    color: $__container_color;
                }
            }
        }
        .right {
            display: none;
        }
        .bottom {
            display: flex;
            width: 50%;
            width: 300px;
            height: 100vh;
            height: 100dvh;
            position: absolute;
            transform: translateX(-100vh);
            transition: 1s;
            z-index: 1;
            background-color: $__container_color;
            left: 0;
            top: 0;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            ul {
                display: flex;
                flex-direction: column;
            }
        }

        .responsive_nav {
            transform: none;
        }

        
    }
}