@import "../../App.scss";


.container {
  width: 100%;
  margin: auto;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  .row {
    .col-xl-4 {
      .single-cta {
        padding: .5rem 0;
        .cta-text {
          gap: .5rem;
          padding: 0;
        }
      }
    }
  }
}
.single-cta i {
  color: $__main_color;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  h4 {
    display: flex;
    gap: .5rem;
  }
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  text-align: center;
  margin: 1rem auto;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: $__main_color;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: $__main_color;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: $__main_color;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
  text-align: center;
}
.copyright-text p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: $__main_color;
}
.footer-menu {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin: auto;
        width: fit-content;
    }
}
.footer-menu li {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  //margin-left: 20px;
}
.footer-menu li:hover a{
  color: $__main_color;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

a {
  color: #878787;
  &:hover {
    background: none !important;
    color: white;
  }
}

@media screen and (max-width: 900px) {
  footer {
    .container {
      .footer-cta {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }
    }
  }
}