// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

$__main_color: #ff7d02;
$__second_color: #012f3c;
$__body_color: #f3f3f3;
$__text_color: #dfdfdf;
$__text_default_color: #000000;
$__container_color: #fff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 1rem 8%;
}
p {
  color: #252525;
  line-height: 1.5rem;
}

body {
  background: $__body_color;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

button {
  cursor: pointer;
  &:hover {
    background: $__second_color;
  }
}

.title {
  text-align: center;
  padding-block: 2rem;
  h3 {
      color: $__text_default_color;
      text-transform: uppercase;
      font-size: 2em;
  }

  h2 {
      text-transform: uppercase;
      color: $__main_color;
      margin: 1rem 0;
      font-weight: bold;
      font-size: 2.5em;
  }
  h1 {
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-weight: bold;
  }
}